body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

header{
background:#22c55e;
text-align:center;
padding:15px;
}

header input{
margin-top:10px;
padding:10px;
width:80%;
border:none;
border-radius:10px;
}

.cards{
display:flex;
flex-wrap:wrap;
gap:15px;
padding:20px;
justify-content:center;
}

.card{
background:#1e293b;
padding:15px;
width:200px;
border-radius:15px;
text-align:center;
box-shadow:0 0 10px black;
}

.card button{
margin-top:10px;
padding:8px 15px;
background:#22c55e;
border:none;
color:white;
border-radius:10px;
cursor:pointer;
}

/* login */

.login{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:#111827;
padding:20px;
border-radius:15px;
text-align:center;
}

.login button{
margin:10px;
padding:10px 20px;
border:none;
background:#22c55e;
color:white;
border-radius:10px;
}

/* chat */

.chat{
position:fixed;
bottom:20px;
right:20px;
width:300px;
background:#111827;
border-radius:15px;
display:flex;
flex-direction:column;
}

.hidden{display:none;}

.chat-header{
background:#22c55e;
padding:10px;
display:flex;
justify-content:space-between;
}

.messages{
height:250px;
overflow:auto;
padding:10px;
}

.msg{
background:#2563eb;
padding:8px;
margin:5px 0;
border-radius:8px;
width:fit-content;
max-width:80%;
}

.send{
display:flex;
}

.send input{
flex:1;
padding:10px;
border:none;
}

.send button{
background:#22c55e;
border:none;
padding:10px;
color:white;
}
